<HTML>
	<head>
	</head>
	<!-- <body>
		<select id = "pull">
			<option value="" disabled selected>Choose a Class</option>
			<option value="class1">Class 1</option>
			<option value="class2">Class 2</option>
			<option value="class3">Class 3</option>
		</select>
		<button onclick="selectClass()">Select Class</button>
		
		
	</body> -->

	<div id = "searchData">
		<input type="text" id="search" placeholder="Search">
		<button onclick="searchDataTable()">Search</button>
	</div>
	
	<div id="tableLayout">
		<table>   
    	<tr>     
        	<th>Class Name</th>
        	<th> Professor Name</th>
        	<th> Class Department</th>
        	<th> Select</th>
    	</tr>    
    	<% @classrooms.each do |c| %>   
        	<tr>       
            	<td><%= c.ClassName %></td>   
            	<td><%= c.ProfessorName %></td>   
            	<td><%= c.ClassDepartment %></td>    
            	<td><%= link_to 'Select', classroom_path(c) %></td>
            </tr>   
    	<% end %> 
		</table>
		
		<% if( @user.userType == "instructor") %>
			<%= link_to 'Add new class', new_classroom_path %>
		<% end %>
	</div>
	

	<div id="output"></div>
	
