<%= form_for @classroom do |f| %>    
        <p>     
                <%= f.label :ClassName %><br>    
                <%= f.text_field :ClassName %> 
        </p>   
        
        <p>    
                <%= f.label :ProfessorName %><br>    
                <%= f.text_field :ProfessorName %>  
        </p>    
        
        <p>    
                <%= f.label :ClassDepartment %><br>    
                <%= f.text_field :ClassDepartment %>  
        </p>  
        
        <p>   
                <%= f.submit %>  
        </p>
        <div class=slinks>
                <%= link_to "Classroom List", "/classrooms/index" %>
        </div>
<% end %>

