<div id="formWrap">
        <%= form_for @classroom do |f| %>    
        <div id="sectionForm">
                <%= f.label :ClassName %><br>    
                <%= f.text_field :ClassName %> 
        </div>   
        
        <div id="sectionForm">    
                <%= f.label :ProfessorName %><br>    
                <%= f.text_field :ProfessorName %>  
        </div>    
        
        <div id="sectionForm">   
                <%= f.label :ClassDepartment %><br>    
                <%= f.text_field :ClassDepartment %>  
        </div>   
        
        <%= f.submit "Create" ,:id => 'return'%>  
        
        <%= link_to "/classrooms/index" do %>
                <div id=return>
                        Return
                </div>
        <% end %>
        <% end %>
        
</div>