<div id="titles">
    <div id="sub-data">
        <div id="header">
            <%= @classroom.ClassName %>
        </div>
    </div>
    <div id="sub-data">   
        <%= @classroom.ProfessorName %>
    </div>
    
</div>




<div id="headerSections">Sections: </div>
    <div id="sections">
    <% @classroom.sections.each do |section| %>
    <div id="sub-data">
        <strong>Section Name:</strong>
        <%= section.sectionCode %>
        <%= link_to 'Select', section_path(section) %>
        
        <% Student.where(["user_id = ? AND section_id = ?", current_user.id, section.id]) %>
        
        <% if Student.where(["user_id = ? AND section_id = ?", current_user.id, section.id]).length > 0 %>
        <%= link_to 'Drop', section_path(section),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
            
        
            <% else %>
                 <%= link_to 'Join', section_path(section), method: :put, data: { confirm: 'Do you want to be added to this class?' } %>   
           
        <% end %>
            
        
        
        <% end %>
    </div>
</div>



<div id="newClass">
    <%= form_for([@classroom, @classroom.sections.build]) do |f| %>
        <div id="h2Header">Add a section: </div>
        <p>
            <%= f.label :sectionCode %><br>
            <%= f.text_field :sectionCode %>
        </p>

        <p>
            <%= f.submit %>
        </p>
    <% end %>
</div>


<div class="slinks">
    Return to 
    <%= link_to "Classroom List", "/classrooms/index" %>
</div>

