<div id="titles">
    <div id="sub-data">
        <div id="header">
            <%= @classroom.ClassName %>
        </div>
    </div>
    <div id="sub-data">   
        <%= @classroom.ProfessorName %>
    </div>
    
</div>




<div id="header">Sections: </div>
    <div id="sections">
    <% @classroom.sections.each do |section| %>
    <div id="sub-data">
        <strong>Section Name:</strong>
        <%= section.sectionCode %>
        <%= link_to 'Select', section_path(section) %>
        <% end %>
    </div>
</div>




<%= form_for([@classroom, @classroom.sections.build]) do |f| %>
    <h2>Add a section: </h2>
    <p>
        <%= f.label :sectionCode %><br>
        <%= f.text_field :sectionCode %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>

<p> <%= @classroom.ClassName %></p>

<div class="slinks">
    <%= link_to "Classroom List", "/classrooms/index" %>
</div>

