<div id="titles">
    <div id="sub-data">
        <div id="header">
            <%= @classroom.ClassName %>
        </div>
    </div>
    <div id="sub-data">   
        <%= @classroom.ProfessorName %>
    </div>
</div>




<div id="headerSections">Sections: </div>
    <div id="sections">
    <% @classroom.sections.each do |section| %>
    <div id="sub-data">
        <%= link_to section_path(section) do %>
        <div id="classes">
            <div id="classList">
                Section 
                <%= section.sectionCode %>
            </div>
        </div>
        <% end %>
        
        
        <% #Student.where(["user_id = ? AND section_id = ?", current_user.id, section.id]) %>
        
        
        <% if(@currentUser.userType != "instructor") %>
            <% if Student.where(["user_id = ? AND section_id = ?", current_user.id, section.id]).length > 0 %>
                <%= link_to 'Drop', section_path(section),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
            
        
            <% else %>
                 <%= link_to 'Join', section_path(section), method: :put, data: { confirm: 'Do you want to be added to this class?' } %>   
           
            <% end %>
        <% end %>
        
        
        <% end %>
        
        <div id="show">
        <div id="classes">
            <div id="classList">
                + Add New Section
            </div>
        </div>
        </div>
        
        

<%= link_to "/classrooms/index" do %>
    <div id="returnClass">
        Return to Classrooms List
    </div>
<% end %>

        
    </div>



<% if(@currentUser.userType == "instructor") %>
    <div id="newClass"  style="display: none">
        <%= form_for([@classroom, @classroom.sections.build]) do |f| %>
            <div id="h2Header">Add a section: </div>
            <p>
            <%= f.label :sectionCode %><br>
            <%= f.text_field :sectionCode %>
            </p>

            <p>
            <%= f.submit %>
            </p>
        <% end %>
    </div>
<% end %>

</div>






<script>
    var button = document.getElementById('show');
    
    button.onclick = function() {
    var div = document.getElementById('newClass');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};
    
    
    
    
    
</script>