<p>
    <strong>Title:</strong>
    <%= @classroom.ClassName %>
</p>

<p>
    <strong>Text:</string>
    <%= @classroom.ProfessorName %>
</p>


<h2>Sections: </h2>
<% @classroom.sections.each do |section| %>
    <p>
        <strong>Section Name:</strong>
        <%= section.sectionCode %>
    </p>
        <p>
    <%= link_to 'Select', section_path(section) %>
    </p>
<h2>Add a section: </h2>
<% end %>

<%= form_for([@classroom, @classroom.sections.build]) do |f| %>
    
    <p>
        <%= f.label :sectionCode %><br>
        <%= f.text_field :sectionCode %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>