
<div id="assignmentWrap">
    <div id="assignmentHeaders">Title:</div>
    <div id="assignmentData"> <%= @assignment.first.title %></div>

    <div id="assignmentHeaders">Description:</div>
    <div id="assignmentData"> <%= @assignment.first.description %></div>

    <div id="assignmentHeaders">Completed:</div>
    <div id="assignmentData"> <%= @assignment.first.completed %></div>

    <div id="assignmentHeaders">Grade:</div>
    <div id="assignmentData"> <%= @assignment.first.grade %></div>

    <div id="assignmentHeaders">Feedback:</div>
    <div id="assignmentData"> <%= @assignment.first.feedback %></div>
</div>

    <% @student = Student.find_by_id(params[:student_id]) %>
    <% @user = User.find(current_user.id) %>
    <% @assignment = Assignment.find_by_id(params[:id]) %>
    <% if(@user.userType != "student") %>
        <%= link_to  edit_student_assignment_path(@student, @assignment) do %>
            Edit assignment
        <% end %>
    <% end %>
<%= link_to :back do %>
    <div id="returnAssignment">
        Return to Assignments List
    </div>
<% end %>