Title: <p> <%= @assignment.first.title %></p>
Description: <p> <%= @assignment.first.description %></p>
Completed: <p> <%= @assignment.first.completed %></p>
Grade: <p> <%= @assignment.first.grade %></p>
Feedback: <p> <%= @assignment.first.feedback %></p>
