<%= form_for @student do |f| %>    
        <p>     
                <%= f.label :grade %>
                <%= f.text_field :grade %> 
        </p>   
        
        
        <p>   
                <%= f.submit "Update student" %>  
        </p>
        
        <%= link_to "Classroom List", "/classrooms/index" %>
        <div class=slinks>
                <%= link_to "Classroom List", "/classrooms/index" %>
        </div>
<% end %>