
<div id="engage">
Engagement score:

<div id="score" ><%= @student.grade %> % </div>

<% if(@currentUser.userType == "instructor") %> 

	<%= link_to 'Edit engagement score', edit_student_path(@student) %>

<%end%>

</br>
Assignments:

</div>


<div id="tableLayout">
	<table>
		<tr>
			<th>Assignment: </th>
			<th>Grade: </th>
			<th>Feedback: </th>
		</tr>
		
	<% @assignments.each do |c| %>   
		<tr>
	        <% @student = Student.find(c.user_id) %>
	        <% @temp = c %>
        	<td><p><%= c.title %></p></td>
            <td><p><%= c.grade %></p></td>
            <td><p><%= c.feedback %></p></td>
            <td>	<%= link_to  student_assignment_path(@student, @temp) do %>
    		
               Select
               
        	<% end %>	</td>
       	</tr>
	<% end %>
	</table>
</div>
