<%= form_for @section do |f| %>    
        <p>     
        
        <%= f.label :sectionCode %><br>    
        <%= f.text_field :sectionCode %> 
        
        </p>   
        
        
        <p>    
        
        <%= f.label :classroom_id %><br>    
        
        <%= f.text_area :classroom_id %>  
        
        </p>
        
        <p>   
        <%= f.submit %>  
        </p> 
<% end %>