<div class="slinks">
    
    <p>Section Code: <%= @section.sectionCode %> </p>
    
    <table>
        <tr>
            <th>Email: </th>
            <th>ID Number: </th>
            <% if(@currentUser.userType != "student") %><th>Grade: </th><% end %>
        </tr>
        
        <% @students.each do |student| %>
            <% @temp = User.find(student.user_id) %>
            <tr>
                <td> <%= @temp.email %></td>
                <td>  <%= @temp.idNumber %></td>
                <% if(@currentUser.userType != "student") %>
                <td> <%= student.grade %></td>
                <% end %>
                <td> <%= link_to 'Select', student_path(@temp) %></td> 
            </tr>
        <% end %>
    </table>
    
    <table>
        <th>Assignments</th>
        <% @assignments.each do |student| %>
            <% #@temp = User.find(student.user_id)%> 
        <tr>Assignment: <%= student.title %></tr> 
        <tr>Description: <%= student.description %></tr>
        <tr>Open Date: <%= student.openDate %></tr>
        <tr>Due Date: <%= student.closeDate %></tr><br>
        <% end %>
    </table>
    
    
    Return to 
    <%= link_to "Classroom List", "/classrooms/index" %>
    
    <% if(@currentUser.userType == "instructor" || @currentUser.userType == "assistant") %>
        <%= form_for([@section, @section.assignments.build]) do |f| %>
            <div id="h2Header">Add an assignment: </div>
            <p>
                <%= f.label :title %><br>
                <%= f.text_field :title %>
            </p>
    
            <p>
                <%= f.label :description %><br>
                <%= f.text_field :description %>
            </p>
            
            
            <p>
                <%= f.label :openDate %><br>
                <%= f.date_field :openDate %>
            </p>
            
            <p>
                <%= f.label :closeDate %><br>
                <%= f.date_field :closeDate %>
            </p>
            
            <p>
                <%= f.submit %>
            </p>
        <% end %>
<% end %>
</div>




