<div class="slinks">
    
    <div id="header">Section Code: <%= @section.sectionCode %> </div>
    <div id="studentTable">
    <table>
        <tr>
            <th>Email: </th>
            <th>ID Number: </th>
            <% if(@currentUser.userType != "student") %><th>Grade: </th><% end %>
        </tr>
        
        <% @students.each do |student| %>
            <% @temp = User.find(student.user_id) %>
            <tr>
                <td> <%= @temp.email %></td>
                <td>  <%= @temp.idNumber %></td>
                <% if(@currentUser.userType != "student") %>
                    <td> <%= student.grade %></td>
                <% end %>
                <td> <%= link_to 'Select', student_path(@temp) %></td> 
            </tr>
        <% end %>
    </table>
    </div>
    
    
    <div id="assignTable">
    <table>
        <tr>
            <th>Assignments</th>
            <th>Description</th>
            <th>Open Date</th>
            <th>Due Date</th>
        </tr>
        <% @assignments.each do |student| %>
            <% #@temp = User.find(student.user_id)%>
        <tr>
            <td><%= student.title %></td>
            <td><%= student.description %></td>
            <td><%= student.openDate %></td>
            <td><%= student.closeDate %></td>
        </tr>    
        <% end %>
    </table>
    
    </div>
    
    
    <% if(@currentUser.userType == "instructor" || @currentUser.userType == "assistant") %>
    
    <div id="showButton">
        Create new Assingment
    </div>
    
    
    
    <div id="createAssign" style="display: none">
    
        <%= form_for([@section, @section.assignments.build]) do |f| %>
            <div id="h2Header">Add an assignment: </div>
            <p>
                <%= f.label :title %><br>
                <%= f.text_field :title %>
            </p>
    
            <p>
                <%= f.label :description %><br>
                <%= f.text_field :description %>
            </p>
            
            
            <p>
                Open Date<br>
                <%= f.date_field :openDate %>
            </p>
            
            <p>
                Close Date<br>
                <%= f.date_field :closeDate %>
            </p>
            
            <p>
                <%= f.submit %>
            </p>
        <% end %>
    </div>
        
<% end %>



<%= link_to "/classrooms/index" do %>
<div id="return">
    Return to Classrooms
</div>
<% end %>





</div>










<script>
    var button = document.getElementById('showButton');
    
    button.onclick = function() {
    var div = document.getElementById('createAssign');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};
    
    
    
    
    
</script>

