<img src="/assets/schoollogo.png" style="display: block; margin-left: auto; margin-right: auto;">
<div></div><br><br>
<%= form_for :login do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
</table>