<!DOCTYPE html>
<html>
<div id="wrapper"> 
  <div id="websiteHeader">
  <head>
    <title>Engagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="headerText">
    <img src="/assets/schoollogo.png" style="display: block; margin-left: auto; margin-right: auto;">
    <h2>Welcome to Engagement Point Tracking</h2>
  </div>
  
  <div id="headerText">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% end %>
  </div>
</div>

  
    <%= yield %>
  
  
  
</div>

</html>